@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.authBg{
  background-image: url("../src/assets/463a3ecad85c1b7bad160d490caae850ad6fd41e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.5; */
}

.authBgGradient {
  background-image: 
    linear-gradient(to bottom, rgba(171, 222, 212, 0.7), rgba(255, 255, 255, 0.7), rgba(46, 110, 97, 0.7)),
    url("../src/assets/463a3ecad85c1b7bad160d490caae850ad6fd41e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.departmentBg{
  background-image: url("../src/assets/432ff249bf765ca32c23a965f33ce51f0da1cf5b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 591px;
  background-color: #28574ECC;
}

.supportBg{
  background-image: url("../src/assets/10acabe9741a7d60feb3716f2a67b93fca740170.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 488px;
  background-color: #28574ECC;
}

.supportBg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #28574ECC;
  z-index: 0;
}

.supportBg > * {
  position: relative;
  z-index: 1;
}

.departmentBg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #28574ECC;
  z-index: 0;
}

.departmentBg > * {
  position: relative;
  z-index: 1;
}

.bandGreen{
  background: #28574E;
}
.bandGreen:hover{
  background: #4f8379;
  border: none;
}


.fontLibre{
  font-family: "Abhaya Libre", serif;
}
.fontOutfit{
  font-family: "Outfit", sans-serif;
}

.custom-checkbox {
  accent-color: green; 
}

.custom-checkbox:checked {
  color: white;
}